{% extends 'base.html' %}

{% block content %}
    <html lang="pl">
    <head>
        <meta charset="UTF-8">
        <title>Lista uczniów</title>
    </head>
    <div style="display: flex; align-items: center; justify-content: space-between; margin-bottom: 20px;">
        <h1 style="font-family: 'Press Start 2P';">
            Przeprowadzone Lekcje
        </h1>
        <div>
            <label for="class-filter"><strong>Klasa:</strong></label>
            <select id="class-filter" onchange="filterByClass()">
                <option value="all">Wszystkie</option>
                {% for class in classes %}
                    <option value="{{ class.id }}">{{ class.name }}</option>
                {% endfor %}
            </select>
        </div>
    </div>
    <div class="buttons">
        <a href="{{ url_for('attendance.new_lesson') }}">
            <button>
                Nowa lekcja
            </button>
        </a>
    </div>
    <table>
        <thead>
        <tr>
            <th>Data</th>
            <th>Godzina</th>
            <th>Klasa</th>
            <th>Akcja</th>
        </tr>
        </thead>
        <tbody>
        {% for lesson in lessons %}
            <tr data-class-id="{{ lesson.class_id }}">
                <td>{{ lesson.data }}</td>
                <td>{{ lesson.godzina }}</td>
                <td>{{ lesson.klasa }}</td>
                <td>
                    <a href="{{ url_for('attendance.szczegoly_lesson', data=lesson.data, klasa=lesson.klasa) }}">
                        <button type="button">Szczegóły</button>
                    </a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div class="form-buttons">
        <form action="{{ url_for('attendance.generate_raport') }}" method="get">
            <button class="buttons"> Pobierz raport obecnosci</button>
        </form>
    </div>
    </body>
    <script src="{{ url_for('static', filename='grade_actions.js') }}"></script>
    </html>

{% endblock %}