<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Dziennik Nauczyciela{% endblock %}</title>
</head>
<body>
<nav style="background-color: #eee; padding: 10px;">
    <a href="{{ url_for('dashboard.dashboard') }}"  >Strona główna</a> |
    <a href="{{ url_for('students.get_all') }}">Uczniowie</a> |
    <a href="{{ url_for('grades.get_all') }}">Oceny</a> |
    <a href= {{ url_for('attendance.get_lessons_list') }}> Obecność</a> |
    <a href="{{ url_for('auth.logout') }}">Wyloguj</a> |
</nav>
<hr>

{% block content %}{% endblock %}

</body>
</html>