<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Dziennik Nauczyciela{% endblock %}</title>
</head>
<body>

<!-- ✅ NAVBAR -->
<nav style="background-color: #eee; padding: 10px;">
    <a href="{{ url_for('dashboard.dashboard') }}"  >🏠 Strona główna</a> |
    <a href="{{ url_for('students.get_all') }}">📚 Uczniowie</a> |
    <a href="tutaj_trzeba_dodac_grades">Grades</a> |
    <a href="{{ url_for('auth.logout') }}">🚪 Wyloguj</a>
</nav>

<hr>

{% block content %}{% endblock %}

</body>
</html>