{% extends 'base.html' %}

{% block content %}
    <html lang="pl">
    <head>
        <meta charset="UTF-8">
        <title style="font-family: 'Press Start 2P';">Lista uczniów</title>
    </head>
    <body data-date={{ attendance.data }}>
    <div style="align-items: center;display: flex;justify-content: space-between; padding: 10px;">
        <h1>
            Lakcja klasy: {{ attendance.class }}
        </h1>
        <div>
            <h2>Data: {{ attendance.data }}</h2>
            <h2>Godzina: {{ attendance.godzina }}</h2>
        </div>

    </div>
    <div style="margin: 20px;">
        <a href="{{ url_for('attendance.get_lessons_list') }}">⟵ Powrót do listy uczniów</a>
    </div>
    <table>
        <thead>
        <tr>
            <th>id</th>
            <th>Imię</th>
            <th>Nazwisko</th>
            <th>Status Obecnosc</th>
            <th>edycja Statusu
            </th>
        </tr>
        </thead>
        <tbody>
        {% for student in attendance.students %}
            <tr>
                <td>{{ student.attendance_id }}</td>
                <td>{{ student.studentName }}</td>
                <td>{{ student.studentSurname }}</td>
                <td>{{ student.status }}</td>
                <td>
                    <button onclick="enableEditAttendance(this)">Edytuj</button>
                </td>
            </tr>
        {% endfor %}

        </tbody>
    </table>

    <script src="{{ url_for('static', filename='day_attendance_actions.js') }}"></script>
    </body>
    </html>

{% endblock %}