{% extends 'base.html'%}

{% block content %}

<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>
        {% if grades %}
        Oceny: {{ grades[0].name }} {{ grades[0].surname }}
        {% else %}
        Brak ocen
        {% endif %}
    </title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

<div>
    <a href="{{ url_for('grades.get_all') }}" class="back-button">⟵ Powrót do listy uczniów</a>
</div>

<!-- Tytuł -->
<h1>
    {% if grades %}
    Oceny ucznia: {{ grades[0].name }} {{ grades[0].surname }}
    {% else %}
    Brak ocen do wyświetlenia
    {% endif %}
</h1>

{% if grades %}
<!-- Tabela z ocenami -->
<table>
    <thead>
    <tr>
        <th></th>
        <th></th>
        <th>ID oceny</th>
        <th>Typ oceny</th>
        <th>Wartość</th>
    </tr>
    </thead>
    <tbody>
    {% for grade in grades %}
    <tr>
        <td>
            <button onclick="enableEditGrade(this)">Edytuj</button>
        </td>
        <td>
            <button onclick="deleteGradeFromDb(this)">Usuń</button>
        </td>
        <td>{{ grade.grade_id }}</td>
        <td>{{ grade.grade_type }}</td>
        <td>{{ grade.grade_value }}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% else %}
<div class="no-data">
    <p>Brak ocen do wyświetlenia</p>
</div>
{% endif %}

<script src="{{ url_for('static', filename='grades_details_actions.js') }}"></script>

</body>
</html>
{% endblock %}